.main{
    width: 1000px;
    margin: 0 auto;
    padding:0 20px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}
.main_top{
    margin-bottom: 50px;
}
.main_top_left{
    margin: 10px 20px;
    padding: 0 10px;
    border-left:3px solid #59AFE4;
    float: left;
}
.main_top_right{
    background: url(../image/qq_03.png)170px 8px no-repeat;
    margin-top: 20px;
    float: right;
    border: 1px solid #CCCCCC;
    width: 200px;
    height: 30px;
}
input{
    outline: none
}
.main_top_right input{
    height: 20px;
    margin-top:3px; 
}
.content{
    overflow: hidden;
    margin-top:50px; 
    width: 500px;
    margin: 0 auto;
}
.content input{
    height: 20px;
    background: #F3F9FC;
    border: 1px solid #CCCCCC;
}
.content span{
    display:block;
    text-align: center;
    margin: 20px 0;
}
.content span:nth-child(3){
    margin-left: -33px
}
.content span:nth-child(4){
   margin-left: -70px;
}
.content span:nth-child(5){
    margin-left: 30px;
 }
 .content span:nth-child(6){
    margin-left: -15px;
 }
 .content span:nth-child(7){
    margin-left: -33px;
    margin-bottom: 0;
}
.content p{
    width:300px;
    font-size: 12px;
    margin:20px 100px;
}
.code{
    position: relative;
    left: 80px;
    top: -40px
}
.code a{
    padding: 5px;
    background: #69B946;
}
.code a:link,a:visited{text-decoration:none;color: black;}
.radio{
  position: relative;
  top: -40px
}
.buttons{
    position: relative;
    top: -40px;
}
.buttons button{
    width: 245px;
    padding: 10px;
    background: #69B946;
}